// FONTS

@font-face {
	font-family: 'LuloCleanOne';
	src: url('../fonts/LuloCleanOne.otf');
}

@font-face {
	font-family: 'LuloCleanOneBold';
	src: url('../fonts/LuloCleanOneBold.otf');
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/open-sans.ttf');
}

@font-face {
	font-family: 'AkzidenzMD';
	src: url('../fonts/AkzidenzMD.ttf');
}