// VARS

$weight-light: 300;
$weight-norm: 400;
$weight-bold: 700;

$break_sm: 650px;
$width_sm: 600px;
$break_md: 850px;
$width_md: 750px;
$break_lg: 1050px;
$width_lg: 950px;
$break_xl: 1300px;
$width_xl: 1200px;

$blue: #3853d8;
$violet: #4a62dc;
$red: #cd2324;
$whiteRed: #e8292a;
$grey1: #f8f8f8;
$grey2: #e7e7e7;
$grey3: #a2a3a8;
$grey4: #8d8d95;
$grey5: #727480;
$grey6: #313443;
$grey7: #ccc;